body{
    height: 100%;
    margin: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background:#abd3ff;

    min-height: 10vh;
}

.logo{
    display:flex;
    position:relative;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size:5vh;
    font-weight: bold;
    color:white;
}

.profile{
    display:flex;
    align-items: center;

    padding-right: 2vh;
}

.img{
    max-width: 3.5vw;
    max-height: 3.5vw;
}

.img-1{
    max-width: 10vw;
    max-height: 3.5vw;
}

.container{
    display:grid;
    min-height: 82vh;
    grid-template-columns: 59vw 36vw;
    column-gap:2vw;

    margin: 20px;
}

.container-left{
    display:grid;
    grid-template-rows: 50vh 29vh;
    row-gap: 4vh;
}

.container-right{
    display:grid;
    grid-template-rows: 30vh 49vh;
    row-gap: 4vh;
}

.Task{
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;

    background: rgb(208, 208, 208);
}

.Events{
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;

    background: rgb(208, 208, 208);
}

.Timer{
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.Leaderboard{
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;

    background: rgb(208, 208, 208);
}